.contacts-container {
  padding-bottom: 148px;
}
.contacts__header {
  margin-left: -1px;
  margin-bottom: 24px;
}
.contacts__list {
  justify-content: space-between;
}
.contacts__item-tel,
.contacts__item-mail {
  width: 50%;
}
.contacts__item-tel::before,
.contacts__item-mail::before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
}
.contacts__item-tel::before {
  margin-left: -6px;
  padding-top: 26.5px;
  background: url(../../resources/img/png/phone.png) 0 0 / contain no-repeat;
}
.contacts__item-mail::before {
  margin-top: 1px;
  margin-left: 1px;
  padding-top: 26px;
  background: url(../../resources/img/png/letter.png) 0 0 / contain no-repeat;
}
.contacts__tel,
.contacts__mail {
  width: fit-content;
  font-size: 60px;
  line-height: 60px;
  display: block;
  text-decoration: none;
  color: #121212;
  border-bottom: 2px solid #ffffff;
  transition: 0.4s;
}
.contacts__mail {
  margin-left: 1px;
}
.contacts__tel:hover,
.contacts__mail:hover {
  border-bottom: 2px solid #121212;
  opacity: 0.5;
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 1199px) {
  .contacts-container {
    padding-bottom: 117px;
  }
  .contacts__header {
    margin-bottom: 25px;
  }
  .contacts__tel,
  .contacts__mail {
    font-size: 45px;
  }
  .contacts__item-mail::before {
    padding-top: 26px;
    margin-top: 0px;
    margin-left: 4px;
  }
}
/* ----------------------------------------------------------------------------- */
@media (max-width: 767px) {
  .contacts-container {
    padding-bottom: 80px;
  }
  .contacts__header {
    margin-left: 1px;
    margin-bottom: 19px;
  }
  .contacts__list {
    flex-wrap: wrap;
    row-gap: 18px;
  }
  .contacts__item {
    margin-bottom: 0;
  }
  .contacts__item-mail {
    margin-top: 0px;
    margin-left: 0px;
  }
  .contacts__item-tel::before,
  .contacts__item-mail::before {
    width: 18px;
    height: 18px;
  }
  .contacts__item-tel::before {
    margin-left: -4px;
    padding-top: 20px;
  }
  .contacts__item-mail::before {
    margin-top: 1px;
    margin-left: -1px;
    padding-top: 18px;
  }
  .contacts__tel,
  .contacts__mail {
    margin-left: -2px;
    font-size: 35px;
    line-height: 46px;
  }
  .contacts__tel:hover,
  .contacts__mail:hover {
    border-bottom: 2px solid #ffffff;
    opacity: 1;
  }
}
