.js-popup {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.js-popup_open {
  opacity: 1;
  visibility: visible;
}
.js-popup__content {
  position: relative;
  margin-left: -5px;
  padding: 94px 77px 86px 55px;
  width: 774px;
  max-height: 100%;
  border-radius: 10px;
  text-align: center;
  background: #ffffff;
  overflow-y: scroll;
}
.js-popup__close-btn {
  position: absolute;
  top: 31px;
  right: 32px;
  width: 50px;
  height: 50px;
  background: url(../../resources/img/png/close-button-popup.png) 0 0 / contain
    no-repeat;
  cursor: pointer;
}
.js-popup__header {
  margin-left: 13px;
  margin-bottom: 3px;
  font-size: 45px;
  line-height: 61px;
}
.js-popup__description {
  margin-left: 24px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 25px;
}
.js-popup__inputs-list {
  margin-left: -1px;
  margin-bottom: 80px;
}
.js-popup__input-item:not(:last-child) {
  margin-bottom: 50px;
}
.js-popup__input {
  width: 100%;
  padding-bottom: 9px;
  border-bottom: 1px solid #000000;
  font-size: 25px;
  line-height: 34px;
}
.js-popup__input:focus {
  outline: none;
}
.js-popup__submit {
  margin-left: 3px;
  width: 100%;
  font-size: 20px;
  line-height: 67px;
  color: #ffffff;
  background: #ad1818;
  border-radius: 5px;
  cursor: pointer;
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 1199px) {
  .js-popup__close-btn {
    right: 44px;
  }
  .js-popup__content {
    margin-left: 1px;
    width: 775px;
  }
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 767px) {
  .js-popup {
    padding: 7px 14px 7px 10px;
  }
  .js-popup__content {
    padding: 79px 24px 80px 16px;
    width: 100%;
  }
  .js-popup__close-btn {
    top: 39px;
    right: 28px;
    width: 30px;
    height: 30px;
  }
  .js-popup__header {
    margin-left: 9px;
    margin-bottom: 11px;
    font-size: 25px;
    line-height: 34px;
  }
  .js-popup__description {
    margin: auto;
    max-width: 210px;
    margin-bottom: 55px;
    font-size: 14px;
    line-height: 19px;
  }
  .js-popup__inputs-list {
    margin-left: 1px;
    margin-bottom: 60px;
  }
  .js-popup__input-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .js-popup__input {
    font-size: 18px;
    line-height: 25px;
  }
  .js-popup__submit {
    margin-left: 5px;
  }
}
