.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 58px;
  padding-bottom: 30px;
  background: #121212;
  color: #ffffff;
}
.footer__nav-list {
  width: 450px;
  padding-right: 13px;
  padding-bottom: 88px;
}
.footer__link {
  color: #ffffff;
  transition: 0.4s;
  cursor: pointer;
}
.footer__link:hover {
  opacity: 0.5;
}
.footer__copyright {
  font-size: 20px;
  line-height: 27px;
  padding-left: 40px;
  opacity: 0.5;
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 1199px) {
  .footer {
    padding-top: 60px;
  }
  .footer__nav-list {
    padding-bottom: 87px;
  }
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 767px) {
  .footer {
    padding-top: 29px;
    padding-bottom: 26px;
  }
  .footer__nav-list {
    width: 280px;
    padding-left: 13px;
    padding-bottom: 33.5px;
  }
  .footer__link {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  .footer__copyright {
    font-size: 13px;
    line-height: 18px;
    padding-left: 27px;
  }
}
