.header {
  position: relative;
  height: 25px;
  padding-top: 31px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.header__img {
  width: 127px;
}
.header__nav-list {
  width: 466px;
}
.header__link {
  color: #121212;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
  transition: 0.4s;
}
.header__link:hover {
  border-bottom: 1px solid #121212;
  opacity: 0.5;
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 1199px) {
  .header {
    padding-bottom: 73.76px;
  }
  .header__nav-list {
    opacity: 0;
    visibility: hidden;
  }
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 767px) {
  .header {
    padding-bottom: 52px;
  }
  .header__img {
    width: 96px;
  }
}
