@import url(header.css);
@import url(./main-page/we.css);
@import url(./main-page/about-us.css);
@import url(./main-page/projects.css);
@import url(./main-page/services.css);
@import url(./main-page/feedback.css);
@import url(./main-page/gallery.css);
@import url(./main-page/contacts.css);
@import url(footer.css);

html {
  /* 10px */
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}
body {
  /* 16px */
  /* font-size: 1.6rem; */
  color: #121212;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  box-sizing: border-box;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  letter-spacing: -0.03em;
  background: none;
  border: none;
}
.container {
  margin: auto;
  max-width: 1150px;
}
.universal-header {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
  column-gap: 50px;
}
.col {
  width: calc(50% - 25px);
}
.nav {
  height: 25px;
  display: flex;
  justify-content: space-between;
}

.box {
  height: 128px;
}

/* ------------------------------------------------------------------------ */
@media (max-width: 1199px) {
  .container {
    padding-right: 15px;
    padding-left: 17px;
  }
  .row {
    row-gap: 78px;
    column-gap: 10px;
  }
  .col {
    width: calc(50% - 5px);
  }
}
/* -------------------------------------------------------------------- */
@media (max-width: 767px) {
  .box {
    height: 108px;
  }
  .container {
    padding-right: 12px;
    padding-left: 13px;
  }
  .universal-header {
    font-size: 14px;
    line-height: 19px;
  }
  .row {
    flex-direction: column;
    row-gap: 72px;
    column-gap: 0;
  }
  .col {
    width: 100%;
  }
}
